
#views-cache-ui-table td:first-child{
    width: 260px;
}

#views-cache-ui-table td:nth-child(2){
    width: 200px;
}

#views-cache-ui-table td:nth-child(3){
    width: 120px;
}
#views-cache-ui-table td:nth-child(4){
    width: 100px;
}

#views-cache-ui-table fieldset{
    margin: 0.4rem 0;
    padding: 1em;
}

#views-cache-ui-table .fieldset-title{
    font-size: 0.9em;
}

#views-cache-ui-table .tabledrag-root{
    font-weight: 700;
}
